.main{
    .readmore{
        min-height: 100%;
        
    }
    .readmore p.readmore{
        overflow: hidden; /* Hide any content that overflows the box */
        text-overflow: ellipsis; /* Show an ellipsis (...) when text overflows */
        white-space: nowrap; 
    }
    .row firstrow{
        
       
        flex: 1 1 50%;
        flex-wrap: wrap;
    }
    .featurecontant{
    
    }
    .row costumrow{
        display: block;
        width: 40%;
    }
    
    .col-lg-6 {
        width: 50%;
    }
    
    
}