.home {
    min-height: 100vh;
}

.leftside {
    min-height: 80em;
}

.newslettercontent {
    padding-top: 5em;
    margin-top: 5em;
    margin-bottom: 20em;
    
    @media(min-width:680px) {
        body{
            background-color: red;
        }
        #newsteller {
    
            margin-top: 1em important!;
    
        }
    
        #newsteller1 {
            margin-top: 10em;
        }
    }
}

