   .contact>* {
    
       max-width: 1200px;
       margin-top: 5em;
       margin-left: 10em;
       min-height: 100vh;
   }

   .contact h1 {

       margin-top: -1em;
       padding-left: 5em;
       font-family: "OpenSans-Light";

   }

   .contact button {
       background: none;
       background-color: none;
       border: 2px solid #C59E47;
       font-family: 'BebasNeue Regular';
       margin-left: 60px;
       font-size: 16.99px;
       color: #313943;
       margin-top: 0px;
       padding-left: 19px;
       padding-right: 19px;
       padding-top: -2px;
       padding-bottom: -2px;

   }

   .contact button :hover {
       background-color: #C59E47;
       color: #fff;
   }

   .contact #image_border {
       z-index: 100000;
   }

   .contact img {

       max-width: 696px;
       min-height: 700px;
       z-index: 10000;
       position: relative;
       overflow: hidden;
       margin-top: 3em;
   }


   .contact .newslettercontent {
       align-items: center;
       padding-top: 1em;
   }

   .contact .contactForm {
       background-color: red;
       min-height: 500px;
       padding-top: 50px;
       margin-left: 0%;
   }

  
   .contact .contactForm {
       margin-top: -5em;
       margin-bottom: 3em;
       margin-left: 10%!important;
   }

   .contact .rightside {
       margin-top: 5em;
   }

   .contact textarea {
    
       margin-left: 0em;
       padding-top: 0.1em;

   }

   .contact .newsimage {
       z-index: 1;
       margin-top: 3em;
       max-width: 696px;
       max-height: 700px;
       overflow: hidden
   }