.allcontain button {
    background: none;
    background-color: none;
    border: 2px solid #C59E47;
    font-family: 'BebasNeue Regular';
    margin-left: 60px;
     font-size: 16.99px;
     color: #313943;
     margin-top:0px;
     padding-left: 19px;
     padding-right: 19px;
     padding-top: -2px;
     padding-bottom:-2px;
 
}
.allcontain button:hover{
    background-color: #C59E47;
    color: #fff;
}

.allcontain{
    margin-top: 10em;
    margin-left: 10em;
    min-height: 100vh;
}
.allcontain h1{
   
        margin-top: 5%;
        padding-left: 5em;
        font-family: "OpenSans-Light";
    
}

.allcontain img{
 
    max-width: 696px;
    min-height: 800px;
    z-index: 1000;
    position: relative;
}


.newslettercontent{
    align-items: center;
    padding-top: 1em;
}
.allcontain.contactForm{
    background-color: red;
    min-height: 500px;
    padding-top: 50px;
    margin-left: 5%;
}
.contact{
    margin-top: 7em;
}
.contact-form{
    margin-top: -5em;
    margin-bottom: 3em;
    margin-left: 5em;
}
.rightside{
    margin-top: 5em;
}
textarea{
   margin-left: 2em;
}